@page "/BookDetail/{id:guid}"

@using PubHubWebServer.Data.Models
@using PubHubWebServer.Services
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using PubHubWebServer.Data
@using System.Net.Http.Headers
@using Blazored.LocalStorage

@inject UserManager<ApplicationUser> userManager
@inject HttpClient client
@inject NavigationManager navigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILocalStorageService localStorage

@rendermode InteractiveServer

@if (EBook != null)
{
    <AuthorizeView Roles="Publisher">
        <Authorized>
            <div class="row position-relative">
                <div class="col-auto h-25 ">
                    <div class="row" style="height: auto;">
                        <div class="" style="text-align: center;">
                            <h1>@EBook.Title</h1>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        @EBook.Description
                    </div>
                    <div class="row text-white m-auto" style="text-align: center; margin-top: 20px !important">
                        @if (subscriptions != null)
                        {
                            <div class="row">
                                <h3>Denne bog er i disse abonnementer</h3>
                            </div>
                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th scope="col">Abonnement</th>
                                        <th scope="col">Beskrivelse</th>
                                        <th scope="col">Start dato</th>
                                        <th scope="col">Slut dato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PubHubSubscription subscription in subscriptions)
                                    {
                                        <tr>
                                            <th scope="row">@subscription.Title</th>
                                            <td>@subscription.Message</td>
                                            <td>@subscription.StartDate</td>
                                            <td>@subscription.EndDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="row" style="">
                        @if (Owner)
                        {
                            <div class="col-auto">
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-5 singleBookPageImageRow">
                    <div class="row ">
                        <img src="images/BookCovers/@(EBook.FilePath + "-Cover.jpg")" class="card-img-top img-thumbnail" alt="..." style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="row position-relative">
                <div class="col-auto h-25 ">
                    <div class="row" style="height: auto;">
                        <div class="" style="text-align: center;">
                            <h1>@EBook.Title</h1>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        @EBook.Description
                    </div>
                    <div class="row text-white m-auto" style="text-align: center; margin-top: 20px !important">
                        @if (subscriptions != null)
                        {
                            <div class="row">
                                <h3>Denne bog er i disse abonnementer</h3>
                            </div>
                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th scope="col">Abonnement</th>
                                        <th scope="col">Beskrivelse</th>
                                        <th scope="col">Start dato</th>
                                        <th scope="col">Slut dato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PubHubSubscription subscription in subscriptions)
                                    {
                                        <tr>
                                            <th scope="row">@subscription.Title</th>
                                            <td>@subscription.Message</td>
                                            <td>@subscription.StartDate</td>
                                            <td>@subscription.EndDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="row" style="">
                        <div class="col-auto">
                            <button class="btn btn-success">Køb: @EBook.Price Kr.</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning">Lån: @EBook.BorrowPrice Kr.</button>
                        </div>
                    </div>
                </div>
                <div class="col-5 singleBookPageImageRow">
                    <div class="row ">
                        <img src="images/BookCovers/@(EBook.FilePath + "-Cover.jpg")" class="card-img-top img-thumbnail" alt="..." style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    
}


@code {
    PubHubEBook? EBook;
    public bool Owner { get; set; } = false;
    List<PubHubSubscription>? subscriptions;

    [Parameter]
    public Guid ID { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var claimsPrincipal = SignInManager.Context.User;
        ApplicationUser user = await userManager.GetUserAsync(claimsPrincipal);

        //client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", claimsPrincipal.Identity.);

        ApiResponse<PubHubEBook> apiBookResult = await client.GetFromJsonAsync<ApiResponse<PubHubEBook>>(navigationManager.BaseUri + $"ebook/getBookByID?ID={ID}") ?? new ApiResponse<PubHubEBook>();
        EBook = apiBookResult.Data;

        string url = navigationManager.BaseUri + $"publisher/DoesPublisherOwnBook?userID={user.Id}&bookID={EBook.EBookID}";
        ApiResponse<bool> apiOwnerResult = await client.GetFromJsonAsync<ApiResponse<bool>>(url) ?? new ApiResponse<bool>();
        Owner = apiOwnerResult.Data;

        ApiResponse<List<PubHubSubscription>> apiSubResult = await client.GetFromJsonAsync<ApiResponse<List<PubHubSubscription>>>(navigationManager.BaseUri + $"subscription/getAllSubscriptionsWithBookID?bookID={EBook.EBookID}") ?? new ApiResponse<List<PubHubSubscription>>();
        subscriptions = apiSubResult.Data;

        StateHasChanged();
    }
}